<p>
  <strong>Album Name:</strong>
  <%= @album.album_name %>
</p>
 
<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<%= link_to 'Back to album listing', albums_path %>